@model System.Data.DataTable
@{
    ViewBag.Title = "AcceptRequestinstal";
}

<head>
    <style>
        nav.navbar.bootsnav.navbar-fixed {
            overflow: scroll;
            height: 100%;
        }
    </style>
</head>
<h2 style="padding-top:100px;text-align:center">Installments Reports</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th style="display:none;">
            Id
        </th>
        <th style="display:none;">LoanApplyId</th>
        <th>Name</th>
        <th>Email</th>
        <th>Department Name</th>
        <th>Designation</th>
        <th>Loan Money</th>
        <th>Number Of Installments</th>
        <th>Request Date</th>
        <th>Loan Category</th>

        <th>All Installments</th>
        <th>Paid Installments</th>
        <th>UnPaid Installments</th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
    <tr>
        <td style="display:none;">
            @Model.Rows[i][0]
        </td>
        <td style="display:none;">@Model.Rows[i][1]</td>
        <td>@Model.Rows[i][2]</td>
        <td>@Model.Rows[i][3]</td>
        <td>@Model.Rows[i][4]</td>
        <td>@Model.Rows[i][5]</td>
        <td>@Model.Rows[i][6]</td>
        <td>@Model.Rows[i][7]</td>
        <td>@Model.Rows[i][8]</td>
        <td>@Model.Rows[i][9]</td>
        <td>@Html.ActionLink("Installments Report", "installments", new {  @idee = @Model.Rows[i][1] }, null)</td>
        <td>@Html.ActionLink("Installments Report", "paidinstallments", new { @idee = @Model.Rows[i][1] }, null)</td>
        <td>@Html.ActionLink("Installments Report", "unpaidinstallments", new { @idee = @Model.Rows[i][1] }, null)</td>
       
    </tr>
    }
</table>





