@model System.Data.DataTable

@{
    ViewBag.Title = "provident";
}
<head>
    <style>
        nav.navbar.bootsnav.navbar-fixed {
            overflow: scroll;
            height: 100%;
        }
    </style>
</head>
@using (Html.BeginForm())
{
    <h2 style="padding-top:80px;text-align:center">LOAN AGAINST PROVIDENT FUND</h2>
    <table class="table table-bordered table-striped">
        <tr>
            <th style="display:none;">
                Loan Apply Id
            </th>
            <th>Loan Money</th>
            <th>Request Date</th>
            <th>Request Status</th>
            <th>Reason</th>
            <th>Loan for Property</th>
            <th>Loan for Automobile</th>
            <th>View Details</th>
            <th>Edit Loan</th>
            <th>Verify Document</th>
            <th>View Images of Documents Submitted</th>
            <th>View Installments</th>
        </tr>
        @for (int i = 0; i < Model.Rows.Count; i++)
        {
        <tr>
            <td style="display:none;">@Model.Rows[i][0]</td>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>@Model.Rows[i][5]</td>
            <td>@Model.Rows[i][6]</td>
            <td>@Html.ActionLink("Details", "Detailsprov", new { @ide = @Model.Rows[i][0] }, null)</td>
            <td>@Html.ActionLink("Edit", "Edit", new { @ide = @Model.Rows[i][0] }, null)</td>
            <td>@Html.ActionLink("Add Documents", "documentsverification", "loan", new { @ide = @Model.Rows[i][0] }, null)</td>
            <td>@Html.ActionLink("View Images", "viewimag", "loan", new { @ide = @Model.Rows[i][0] }, null)</td>
            <td>@Html.ActionLink("View Installments", "instal", "loan", new { @ide = @Model.Rows[i][0] }, null)</td>

        </tr>
        }
    </table>
}
